
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  padding: 20px;
}
h1 {
  color: black;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.button-group button {
  background-color: #f8f9fa;
  color: black;
  border: 2px solid black;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  flex: 1 1 120px;
  transition: background-color 0.2s ease;
  font-size: 20px !important;
}
.logout-button {
  background-color: #f8f9fa;
  color: black;
  margin-left: 3px;
  border: 2px solid black;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 14px;
  max-width: 100px;  
}

.button-group button:hover {
  background-color: black;
  color: white;
}
.logout-button:hover {
  background-color: black;
  color: white;
}
.filter-group select{
  margin-bottom: 5px;
}
.product {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 10px 15px;
}
.product.衣物 {
  border-left: 5px solid #EF476F !important;
  border: 1px solid #EF476F;
}
.product.文具 {
  border-left: 5px solid #FFD166 !important;
  border: 1px solid #FFD166;
}
.product.徽章 {
  border-left: 5px solid #118AB2 !important;
  border: 1px solid #118AB2;
}
.product.背包 {
  border-left: 5px solid #04ce98 !important;
  border: 1px solid #04ce98;
}
.product.杯具 {
  border-left: 5px solid #073B4C !important;
  border: 1px solid #073B4C;
}
.product h2 {
  margin: 0 0 5px;
  font-size: 18px;
}
.product .price {
  color: #555;
  margin-bottom: 10px;
}
.inventory {
  padding-left: 10px;
}
.custom-input {
  max-width: 150px !important;
  margin: auto;
  margin-top: 10px;
}
.product-btn {
  background-color: #4192e9;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
.product-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.product-btn:focus{
  background-color: black;
  color: white;
}
.custom-select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: white;
  appearance: none;
  margin-bottom: 10px;
}
